[include]
  path = .gitconfig.local

[core]
  editor = /usr/bin/vim

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[push]
  default = tracking

[alias]
  st = status
  ad = add
  ada = add -A
  b = branch
  ba = branch -a           # originも含めた全てのbranchを表示
  bm = branch --merged     # merge済みのbranchを表示
  bn = branch --no-merged  # mergeしてないbranchを表示
  c = commit
  cm = commit -m
  co = checkout
  sh = show
  st = status
  r = reset

  cl = clone
  ft = fetch
  pl = pull
  ps = push

  df = diff
  dc = diff --cached          # addされているものとのdiff
  ds = diff --staged          # 同上(1.6.1移行)
  d = diff HEAD               # HEADとdiff
  d1 = diff HEAD~             # HEADから1つ前とdiff
  d2 = diff HEAD~~            # HEADから2つ前とdiff
  d3 = diff HEAD~~~           # HEADから3つ前とdiff
  d4 = diff HEAD~~~~          # HEADから4つ前とdiff
  d5 = diff HEAD~~~~~         # HEADから5つ前とdiff
  d10 = diff HEAD~~~~~~~~~~   # HEADから10前とdiff

  lo = log
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  la = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
