[user]
	email = ruin.of.messger@gmail.com
	name = 53JIlLenWe11

[core]
  editor = /usr/bin/vim

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto
[push]
  default = tracking
[credential]
	helper = store
