[include]
  path = .gitconfig.local
# 環境に合わせて下記を埋めて上記ファイルに記載
# [user]
#   name = 
#   email = 

# [credential]
#   helper = wincred
#    win  or  linux
#   helper = store # PWが平文で$HOME配下に保存されるので注意 cacheの方を推奨
# 認証情報が一定の間だけlinuxのメモリーに記憶されます timeoutに設定された秒数の間だけ記憶する
#   helper = cache --timeout=36000  # 36000=10時間 デフォは15分

[core]
  editor = vim
  # ファイル名の大文字・小文字の変更を検知するようにする
  ignorecase = false
  # git statusで変更ファイル一覧を表示するときに、日本語のファイル名が文字化けしないでちゃんと表示される。
  quotepath = false
  autocrlf = input

[color]
  status = auto
  diff = auto
  branch = auto
  interactive = auto
  grep = auto

[push]
  default = tracking

[alias]
  ad = add
  ada = add -A
  b = branch
  ba = branch -a           # originも含めた全てのbranchを表示
  bm = branch --merged     # merge済みのbranchを表示
  bn = branch --no-merged  # mergeしてないbranchを表示
  c = commit
  cm = commit -m
  r = reset
  rh = reset --hard

  co = checkout
  sh = show
  ss = stash
  st = status
  cl = clone
  ft = fetch
  pl = pull
  ps = push

  df = diff
  dc = diff --cached          # addされているものとのdiff
  ds = diff --staged          # 同上(1.6.1移行)
  d = diff HEAD               # HEADとdiff
  d1 = diff HEAD~             # HEADから1つ前とdiff
  d2 = diff HEAD~~            # HEADから2つ前とdiff
  d3 = diff HEAD~~~           # HEADから3つ前とdiff
  d4 = diff HEAD~~~~          # HEADから4つ前とdiff
  d5 = diff HEAD~~~~~         # HEADから5つ前とdiff
  d10 = diff HEAD~~~~~~~~~~   # HEADから10前とdiff

  lo = log
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  la = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  alias = !"if test -z $1; then loop=; for k in `git config --get-regexp ^alias\\. | sort | sed -e 's/^alias\\.\\(\\S*\\).*/\\1/g'`; do echo -n $k; loop="${loop}1"; if test ${#loop} -lt 5; then echo -n '\t'; else echo; loop=; fi; done; exit; fi; git config --list | grep ^alias\\.$1= | sed -e s/^alias\\.//; exit;"
