set bell-style visibule
#set prefer-visible-bell
# bashのエラー音をOFF
set prefer-visible-bell

# bashで大文字小文字を無視して補完する
$if Bash
set completion-ignore-case on
$endif
"\C-j": shell-forward-word
"\C-g": shell-backward-word
